name: Erlang CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-20.04

    container:
      image: "ghcr.io/emqx/emqx-builder/5.0:24.1.1-emqx-1-ubuntu20.04"

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 1000
    - name: Fetch tags
      run: git fetch --tags
    - name: Compile
      run: rebar3 compile
    - name: Run tests
      run: make eunit
    - name: Run dialyzer
      run: make dialyzer
    - name: Ensure version consistency
      run: ./check_vsns.escript
    - name: Ensure style
      run: ./check-style.sh
