name: Erlang CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        otp:
          - 24.3
          - 25.1

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Fetch tags
      run: git fetch --tags
    - uses: erlef/setup-beam@v1
      with:
        otp-version: ${{ matrix.otp }}
        rebar3-version: 3
    - name: Compile
      run: rebar3 compile
    - name: Run tests
      run: make eunit
    - name: Run dialyzer
      run: make dialyzer
    - name: Ensure version consistency
      run: ./check_vsns.escript
    - name: Ensure style
      run: ./check-style.sh
